/*Changes to body of all the pages*/
body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Changes made to guest nav*/
.logo{
    float: left;
    width: 15%;
    height:auto;
}
nav {
    float: right;
    width: 100%;
    margin: 0;
    padding: 0;

}
nav .rest {
    float:right;
}
nav ul {
    list-style: none;
}

nav li{
    display: inline-block;
}

header nav .nav-button1 {
    padding: 3px;
    margin:10px;
}
header nav .nav-button2 {
    border-style: inset;
    border-radius: 8px;
    border-color:indigo;
    padding: 3px;
    margin:10px;
}

nav a {
    text-decoration:none;
    font-size: large;
    color:black;
}

#search-box {
    margin:0;
    padding:5px;
    margin-right:20px;
    margin-left:20px;
    float:center;
}

#search-input {
    width: 400px;
    height: 20px;
    padding: 5px;
    margin:0;
}

#pfp{
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/*Changes for main forum pages*/
#question-title ul{
    list-style: none;
    display: flex;
}

#title {
    border-style:solid; 
    padding-right: 1000px;
    border-radius: 5px;
}


#votes ul {
    list-style:none;
    display:flex;
}

#votes img{
    width: 30px;
    height: auto;
    
}

#answer {
    border-style: solid;
    border-radius: 5px;
    margin: 30px;
    padding-left:10px;
    padding-right: 10px;
}

/*Changes made to create acct page*/
#createacct {
    text-align: center;
}

/*Changes made to login page*/
#login{
    text-align: center;
}

#forum{
    text-align:center;
    padding: 5%;
}

#postDescr{
   width: 80%;
   height: auto; 
   
}
#postTitle{
    width:70%
}
#createPost{
    width: 80px;
    height: auto;
}





